<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agen AI</title>
    <link rel="stylesheet" href="assets/css/agen.css">
</head>
<body>
    <div class="sidebar">
        <img src="assets/img/white-logo.png" alt="Logo" class="logo">
        <ul>
            <li><a href="/dashboard"><img src="assets/img/chat.png" alt="">Chat</a></li>
            <li><a href="/contacts"><img src="assets/img/contact.png" alt="">Contacts</a></li>
            <li><a href="/integration"><img src="assets/img/integration.png" alt="">Integration</a></li>
            <li class="active"><a href="/agents"><img src="assets/img/ai_agent.png" alt="">AI Agent</a></li>
        </ul>
        <a href="#" class="logout"><img src="assets/img/logout.png" alt="">Logout</a>
    </div>

    <main>
        <center>
            <h1>AI Agents</h1>
            <p style=" margin-bottom: 40px;">Ini adalah halaman di mana Anda dapat mengunjungi AI yang telah Anda buat sebelumnya.</p>
        </center>

        <div class="agent">

            <div class="agent-card">
                <h2>ConversAI</h2>
                <img src="assets/img/bot.png" alt="" width="75px" height="75px">
                <p>AI Costumer Service</p>
                <div class="action">
                    <button class="setting"><img src="assets/img/setting.svg" alt="" width="16px" height="16px">setting</button>
                    <button class="delete">delete</button>
                </div>
            </div>

            <div class="agent-card blue">
                <div class="plus">
                    <p>+</p>
                </div>
                <h3>Create New</h3>
            </div>

        </div>
    </main>

</body>
</html>