<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrasi Aplikasi</title>
    <link rel="stylesheet" href="assets/css/integration.css">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <img src="assets/img/white-logo.png" alt="Logo" class="logo">
        <ul>
            <li><a href="/dashboard"><img src="assets/img/chat.png" alt="">Chat</a></li>
            <li><a href="/contacts"><img src="assets/img/contact.png" alt="">Contacts</a></li>
            <li><a href="/integration"><img src="assets/img/integration.png" alt="">Integration</a></li>
            <li class="active"><a href="/agents"><img src="assets/img/ai_agent.png" alt="">AI Agent</a></li>
        </ul>
        <a href="#" class="logout"><img src="assets/img/logout.png" alt="">Logout</a>
    </div>
    <main>
        <h1>Integrasi Aplikasi</h1>
        <p>Ini adalah daftar Platform yang telah Anda sambungkan ke ConversAI. <br>
            Jangan ragu untuk membuat perubahan dan menghubungkan sebanyak mungkin platform kapan pun Anda mau!</p>
        <div class="chatting">
            <a href="#" class="chat-card">
                <h2>ConversAI</h2>
                <img src="assets/img/livechat.png" alt="" width="75">
                <p>Livechat Inbox</p>
            </a>

            <a href="#" class="chat-card">
                <h2>ConversAI</h2>
                <img src="assets/img/whatsapp.svg" alt="" width="75">
                <p>Livechat Inbox</p>
            </a>

            <a href="#" class="chat-card">
                <h2>ConversAI</h2>
                <img src="assets/img/telegram.svg" alt="" width="75">
                <p>Livechat Inbox</p>
            </a>
        </div>
        <div class="chatting">

            <a href="#" class="chat-card">
                <h2>ConversAI</h2>
                <img src="assets/img/instagram-1.svg" alt="" width="75">
                <p>Livechat Inbox</p>
            </a>

            <a href="#" class="chat-card">
                <h2>ConversAI</h2>
                <img src="assets/img/messenger.svg" alt="" width="125">
                <p>Livechat Inbox</p>
            </a>

            <a href="#" class="chat-card blue">
                <div class="plus">
                    <p>+</p>
                </div>
                <h3>Create New</h3>
            </a>

        </div>





        </div>
    </main>
</body>
</html>