<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConversAI</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<div>
    <!-- Navbar -->
    <nav class="navbar">
        <h1 class="logo"><img src="assets/img/logo.png" alt="">ConversAI</h1>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
        <div class="button">
            <a href="/login" class="nav-button">Login</a>
            <a href="#" class="nav-button">Register</a>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero Section -->
    <div class="hero">
        <div class="hero-text">
            <img src="assets/img/hero-logo1.png" alt="">
            <h1>Balas <span class="gradient">Ribuan Chat</span>, Sampai Closing Order<br>Full Auto Pilot</h1>
            <p>Optimalkan Bisnismu dengan AI Costumer Service sampai dengan 4x lipat</p>
            <button>Mulai Sekarang</button>
        </div>
        <div class="hero-image">
            <div class="content-1">
                <img src="assets/img/heroimg-1.png" alt="">
            </div>

            <div class="content-2">
                <img src="assets/img/heroimg-2.png" alt="">
            </div>

            <div class="content-3">
                <img src="assets/img/heroimg-3.png" alt="">
            </div>

            <div class="content-4">
                <img src="assets/img/heroimg-4.png" alt="">
            </div>

            <div class="content-5">
                <img src="assets/img/heroimg-5.png" alt="">
            </div>

            <div class="content-6">
                <img src="assets/img/heroimg-6.png" alt="">
            </div>
        </div>
    </div>

    <center><img src="assets/img/saas.png" alt="" class="img-saas"></center>
    <!-- End Hero Section   -->

    <!-- Aplication Integration -->
     <div class="integration">
        <center><h2>Integrasi Aplikasi</h2></center>
        <center><img src="assets/img/string.png" alt=""></center>
        <div class="logo-integration">
            <center><img src="assets/img/conversai.png" alt="" class="absolute"></center>
            <img src="assets/img/whatsapp.png" alt="" class="absolute whatsapp">
            <img src="assets/img/email.png" alt="" class="absolute email">
            <img src="assets/img/shopify.png" alt="" class="absolute shopify">
            <img src="assets/img/facebook.png" alt="" class="absolute facebook">
            <img src="assets/img/telegram.png" alt="" class="absolute telegram">
            <img src="assets/img/instagram.png" alt="" class="absolute instagram">
            <img src="assets/img/messenger.png" alt="" class="absolute messenger">
            <img src="assets/img/shopee.png" alt="" class="absolute shopee">
        </div>
     </div>
    <!-- End Aplication Integration -->

    <!-- Features Section -->
    <div class="features">
        <h2>Fitur Utama <span class="gradient">ConversAI</span></h2>
        <div class="features-list">
            <div class="features-item">
                <img src="assets/img/feature-1.png" alt="">
                <h3>Layanan Pelanggan 24/7</h3>
                <p>ConversAI siap membantu pelanggan kapan saja, memberikan respons cepat dan meningkatkan kepuasan tanpa henti.</p>
            </div>
            <div class="features-item">
                <img src="assets/img/feature-2.png" alt="">
                <h3>Kustomisasi yang Fleksibel</h3>
                <p>Sesuaikan tampilan chatbot sesuai identitas merek Anda, menciptakan pengalaman yang konsisten dan menarik bagi pelanggan.</p>
            </div>
            <div class="features-item">
                <img src="assets/img/feature-3.png" alt="">
                <h3>Latih Agen dengan Mudah</h3>
                <p>Latih chatbot Anda dengan cepat menggunakan data Bisnismu. Proses pelatihan yang sederhana memastikan respons yang lebih baik.
                </p>
            </div>
            <div class="features-item">
                <img src="assets/img/feature-4.png" alt="">
                <h3>Mendukung 30+ Bahasa</h3>
                <p>Conversai mendukung lebih dari 30 bahasa, memungkinkan Anda menjangkau pelanggan di seluruh dunia dengan komunikasi yang efektif.
                </p>
            </div>
            <div class="features-item">
                <img src="assets/img/feature-5.png" alt="">
                <h3>Tanpa Kode, Mudah, Cepat</h3>
                <p>Desain dan kelola chatbot Anda tanpa keterampilan teknis. Antarmuka intuitif memungkinkan pembuatan alur percakapan yang menarik dengan mudah.</p>
            </div>
            <div class="features-item">
                <img src="assets/img/feature-6.png" alt="">
                <h3>Integrasi Omnichannel</h3>
                <p>Conversai terhubung dengan berbagai platform komunikasi, termasuk WhatsApp dan Facebook Messenger, memastikan aksesibilitas pelanggan yang lebih baik.</p>
            </div>
        </div>  
    </div>
    <!-- End Features Section -->

    <!-- About Section -->
    <div class="about">
            <div class="about-content">
                <div class="about-text">
                    <h2>Chatbot Cerdas untuk <span class="gradient">Bisnis</span> Anda</h2>
                    <hr>
                    <p>ConversAI adalah solusi chatbot cerdas yang dirancang untuk membantu bisnis Anda berinteraksi dengan pelanggan secara lebih efektif, 24/7. Dengan teknologi AI terbaru, ConversAI memberikan jawaban yang cepat, akurat, dan natural, sehingga pelanggan Anda merasa dihargai dan terlayani dengan baik.</p>
                </div>
                <img src="assets/img/about-img.png" alt="">
            </div>
    </div>
    <!-- End About Section -->

    <!-- About-2 Section -->
    <div class="about-2">

            <img src="assets/img/about-2.png" alt="">

            <div class="about-2-text">
                <h2>Menaikkan Konversi dengan <br> Fitur Unggulan <span class="gradient">ConversAI</span></h2>
                <hr>
                <p>ConversAI menyediakan interaksi real-time untuk jawaban <br> instan dan pengalaman pengguna yang dipersonalisasi, memastikan <br> Anda mendapatkan informasi yang relevan kapan saja.</p>

                <p class="star"><img src="assets/img/star.png" alt="">ConversAI dapat diintegrasikan dengan berbagai platform</p>
                <p class="star"><img src="assets/img/star.png" alt="">ConversAI dapat diintegrasikan dengan berbagai platform</p>
                <p class="star"><img src="assets/img/star.png" alt="">Agen AI kami siap membantu Anda 24/7</p>

            </div>
    </div>
    <!-- End About-2 Section -->

    
    <!-- Pricing -->
     <div class="pricing">
        <h1 class="header-text-pricing">Pilih Paket yang Sesuai dengan<span class="gradient"> Kebutuhan Anda</span></h1>

        <div class="pricing-content">
            <div class="card-pricing">
                <h3>Paket Gratis</h3>
                <p>Mulai dengan Paket gratis</p>
                <h1 class="price">Rp0/Bln</h1>
                <a href="#" class="button-pricing">Coba Gratis</a>
                <ul>
                    <li><img src="assets/img/check.svg" alt="">25 (Minimum Active Users)</li>
                    <li><img src="assets/img/check.svg" alt="">Agen AI Basic</li>
                    <li><img src="assets/img/check.svg" alt="">Akses ke agen AI 24/7</li>
                    <li><img src="assets/img/check.svg" alt="">Dukungan pelanggan melalui email</li>
                    <li><img src="assets/img/check.svg" alt="">1000 AI Responses</li>
                </ul>
            </div>

            <div class="card-pricing">
                <h3>Paket Starter</h3>
                <p>Mulai dengan Paket Starter</p>
                <h1 class="price">Rp99k/Bln</h1>
                <a href="#" class="button-pricing">Coba Gratis</a>
                <ul>
                    <li><img src="assets/img/check.svg" alt="">1000 (Minimum Active Users)</li>
                    <li><img src="assets/img/check.svg" alt="">Agen AI Advanced Models</li>
                    <li><img src="assets/img/check.svg" alt="">Akses ke agen AI 24/7</li>
                    <li><img src="assets/img/check.svg" alt="">Dukungan pelanggan melalui email</li>
                    <li><img src="assets/img/check.svg" alt="">5000 AI Responses</li>
                </ul>
            </div>

            <div class="card-pricing">
                <h3>Paket Pro</h3>
                <p>Mulai dengan Paket Pro</p>
                <h1 class="price">Rp0/Bln</h1>
                <a href="#" class="button-pricing">Coba Gratis</a>
                <ul>
                    <li><img src="assets/img/check.svg" alt="">5000 (Minimum Active Users)</li>
                    <li><img src="assets/img/check.svg" alt="">Agen AI Advanced Models</li>
                    <li><img src="assets/img/check.svg" alt="">Akses ke agen AI 24/7</li>
                    <li><img src="assets/img/check.svg" alt="">Dukungan pelanggan melalui email</li>
                    <li><img src="assets/img/check.svg" alt="">25000 AI Responses</li>
                </ul>
            </div>
        </div>
    </div>

     <!-- Feature 2 Section -->
    <div class="feature-2-section">
    </div>

    <!-- Footer Section -->
   <div class="demo">
     <div class="demo-text">
        <h2>Buat Chatbot Ai untuk bisnismu <br> <span class="gradient">Setup hanya dalam hitungan menit!</span></h2>
     </div>
     <div class="demo-img">
        <img src="assets/img/demo.png" alt="">
     </div>
   </div>
    <!-- Footer Section -->

 
</body>
</html>
