<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrasi Aplikasi</title>
    <link rel="stylesheet" href="assets/css/integration.css">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <img src="assets/img/white-logo.png" alt="Logo" class="logo">
        <ul>
            <li><a href="/dashboard"><img src="assets/img/chat.png" alt="">Chat</a></li>
            <li><a href="/contacts"><img src="assets/img/contact.png" alt="">Contacts</a></li>
            <li><a href="/integration"><img src="assets/img/integration.png" alt="">Integration</a></li>
            <li class="active"><a href="/agents"><img src="assets/img/ai_agent.png" alt="">AI Agent</a></li>
        </ul>
        <a href="#" class="logout"><img src="assets/img/logout.png" alt="">Logout</a>
    </div>
    <main>
        <h1>Integrasi Aplikasi</h1>
        <div class="integration">
            <a href="/chatting" class="integration-card">
                <img src="assets/img/chatting.svg" alt="">
                <div class="integration-text">
                    <h2>Integrasi dengan aplikasi Percakapan</h2>
                    <p>Integrasi dengan aplikasi percakapan populer, seperti Whatsapp, Telegram, Messengger, Dll.</p>
                </div>
            </a>

            <a href="/chatting" class="integration-card">
                <img src="assets/img/e-commerce.svg" alt="">
                <div class="integration-text">
                    <h2>Integrasi dengan aplikasi E-commerce</h2>
                    <p>Integrasi dengan aplikasi E-commerce populer, seperti Shopee, Telegram, Messengger, Dll.</p>
                </div>
            </a>

            <a href="/chatting" class="integration-card">
                <img src="assets/img/shipping.svg" alt="">
                <div class="integration-text">
                    <h2>Cek Ongkos Kirim</h2>
                    <p>Mengecek ongkir dari berbagai kurir dan mendapatkan status pengiriman</p>
                </div>
            </a>





        </div>
    </main>
</body>
</html>